# ____REMOVE THIS LINE AFTER RENAMING sample.config.env to config.env ____
SESSION_ID=
MONGO_URI=
OWNER_NUMER=
THUMB_IMAGE = "https://image.noelshack.com/fichiers/2023/36/1/1693845416-img-20230824-wa0279.jpg"
port = 5000
email = "sam@secktor.live"
AUTO_BIO=false
global_url = "instagram.com"
OWNER_NAME = "Denis"
AUTO_REACTION = false
FAKE_COUNTRY_CODE = 92
READ_MESSAGE = false
PREFIX = .
WARN_COUNT = 3
DISABLE_PM = false
ANTI_BAD_WORD = "fuck"
LEVEL_UP_MESSAGE= true
WELCOME_MESSAGE =  "*Hi,* @user \n*Welcome in* @gname \n*Member count* : @count th"
THEME= SECKTOR
WORKTYPE = public
PACK_INFO = "❃╣[𝚻𝚵𝚴𝐃𝚯╠❃"
ANTILINK_VALUES = "chat.whatsapp.com"
